<h3>New Theft</h3>
<div class="flash-message-new-theft">
  <flash-message></flash-message>
</div>
<form class="form new-theft" id="new-theft-form">
  <textarea data-ng-model="newTheft.description" name="new-theft-description" id="" cols="30" rows="10" required></textarea>
  <input data-ng-model="newTheft.date" type="date" required>
  <input type="text" data-ng-model="newTheft.tags" value="" placeholder="add,tags,separated,by,commas" />
  <input type="submit" value="Add" data-ng-click="vm.createNewTheft(newTheft)">
</form>

<ng-map center="current-location">
  <marker
    position="current-location"
    draggable="true"
    on-dragend="vm.getPositionFromMarker(marker)"
  </marker>
</ng-map>
