<h1>Information about the theft</h1>

<p>
  <!-- Using theft when I have set the controllerAs in the app.js and routeProvider -->
  {{ theft.theft.description }} <!-- first theft is the controller, the second is the view model data name -->
</p>
<p>
  {{ theft.theft.time}}
</p>
<div class="theft-position">
  <h4>Location</h4>
  <p>
    {{ theft.theft.position.address }}
  </p>
  <p>
    {{ theft.theft.position.latitude }}
  </p>
  <p>
    {{ theft.theft.position.longitude }}
  </p>
  <p>Created by {{ theft.theft.creator.email }}</p>
</div>
<div class="theft-tags">
  <h4>Tags</h4>
    <p data-ng-repeat="tag in theft.theft.tags">
      <a href="/tags/{{tag.id}}">{{ tag.name }}</a>
    </p>
</div>
<flash-message></flash-message>