<h3>List all thefts</h3>
<div ng-show="thefts.showLogoutButton">
  <a ng-click="thefts" href="">Log out</a>
</div>

<ng-map default-style="true" center="current-location" zoom="10">
  <marker id='{{theft.id}}' position="{{theft.position.address}}"
    ng-repeat="theft in thefts.theftList"
    data-on-click="thefts.showInfo(theft)">
  </marker>
  <info-window id="foo-iw" position="{{thefts.selectedTheft.position.latitude}},{{thefts.selectedTheft.position.longitude}}">
    <div ng-non-bindable="">
      {{ thefts.selectedTheft.position.address }}
      <a data-ng-href='theft/{{thefts.selectedTheft.id}}'>Investigate</a>
    </div>
  </info-window>
</ng-map>
<ul>
  <li data-ng-repeat="_theft in thefts.theftList">
    {{ _theft.description }} <a data-ng-href='theft/{{_theft.id}}'>More info</a>
  </li>
  <flash-message></flash-message>
</ul>
