<h1>Information about the theft</h1>

<ng-map
  default-style="true"
  center="
    {{theft.theft.position.latitude}},
    {{theft.theft.position.longitude}}
  "
  zoom="15">
  <marker
    position="{{theft.theft.position.address}}"
    data-on-click="map.showInfoWindow('map-info-window')">
  </marker>
  <info-window id="map-info-window" position="{{theft.theft.position.latitude}},{{theft.theft.position.longitude}}">
    <div ng-non-bindable="">
      {{ theft.theft.position.address }}
    </div>
  </info-window>
</ng-map>

<p>
  {{ theft.theft.description }} <!-- first theft is the controller, the second is the view model data name -->
</p>
<p>
  {{ theft.theft.time}}
</p>
<div class="theft-position">
  <h4>Location</h4>
  <p>
    {{ theft.theft.position.address }}
  </p>
  <p>
    {{ theft.theft.position.latitude }}
  </p>
  <p>
    {{ theft.theft.position.longitude }}
  </p>
  <p>Created by {{ theft.theft.creator.email }}</p>
</div>
<div class="theft-tags">
  <h4>Tags</h4>
    <p data-ng-repeat="tag in theft.theft.tags">
      <a href="/tags/{{tag.id}}">{{ tag.name }}</a>
    </p>
</div>
<flash-message></flash-message>
